<h1>Besucher Counter</h1>
<div *ngFor="let c of this.stationCounts; let i = index">
  <div style="display: flex; width: 100%; margin-top: 15px">
    <h2 style="margin-right: 20px">Station: {{i + 1}}</h2>
    <h3 style="margin-right: 20px">{{c}}</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Löschen?</mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Löschpasswort" #lpw/>
      </mat-form-field>
        <button mat-flat-button color="warn" (click)="countReset(i + 1, lpw.value)">Löschen</button>
    </mat-expansion-panel>
  </div>
</div>
<!--<div *ngFor="let c of this.qrCodes.entries();">-->
<!--  <div style="display: flex; width: 100%; margin-top: 15px">-->
<!--    <h2 style="margin-right: 20px">QR-Code: {{c}}</h2>-->
<!--    <h3 style="margin-right: 20px">{{c}}</h3>-->
<!--    <mat-expansion-panel>-->
<!--      <mat-expansion-panel-header>Löschen?</mat-expansion-panel-header>-->
<!--      <mat-form-field>-->
<!--        <input matInput placeholder="Löschpasswort" #lpw/>-->
<!--      </mat-form-field>-->
<!--      <button mat-flat-button color="warn" (click)="countReset(i + 1, lpw.value)">Löschen</button>-->
<!--    </mat-expansion-panel>-->
<!--  </div>-->
<!--</div>-->
