.mediaViewInfo {
  --web-view-name: Station 04_02;
  --web-view-id: Station_04_02;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Station_04_02;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Station_04_02 {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 736px;
  overflow: scroll;
  --web-view-name: Station 04_02;
  --web-view-id: Station_04_02;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#Rechteck_1_v {
  fill: url(#Rechteck_1_v);
}
.Rechteck_1_v {
  position: absolute;
  overflow: visible;
  width: 413.483px;
  height: 736.151px;
  left: 0.371px;
  top: 0.027px;
}
#Gruppe_1 {
  position: absolute;
  width: 34px;
  height: 25px;
  left: 23px;
  top: 35px;
  overflow: visible;
}
#Rechteck_2 {
  fill: rgba(75,108,115,1);
}
.Rechteck_2 {
  position: absolute;
  overflow: visible;
  width: 34px;
  height: 5px;
  left: 0px;
  top: 0px;
}
#Rechteck_7 {
  fill: rgba(75,108,115,1);
}
.Rechteck_7 {
  position: absolute;
  overflow: visible;
  width: 34px;
  height: 5px;
  left: 0px;
  top: 10px;
}
#Rechteck_6 {
  fill: rgba(75,108,115,1);
}
.Rechteck_6 {
  position: absolute;
  overflow: visible;
  width: 34px;
  height: 5px;
  left: 0px;
  top: 20px;
}
#Rechteck_16 {
  fill: rgba(5,78,88,1);
}
.Rechteck_16 {
  position: absolute;
  overflow: visible;
  width: 300px;
  height: 52px;
  left: 57px;
  top: 531px;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Station_05_01.html;
  cursor: pointer;
}
#SCHAU_MAL_DAS_HABEN_ANDERE_GES {
  left: 57px;
  top: 549px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
}
#Lege_Deine_Hnde_um_Deine_Augen {
  left: 76px;
  top: 244px;
  position: absolute;
  overflow: visible;
  width: 263px;
  line-height: 16px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(5,78,88,1);
}
#Pfad_10 {
  fill: rgba(0,0,0,0);
  stroke: rgba(5,78,88,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Pfad_10 {
  overflow: visible;
  position: absolute;
  width: 301.229px;
  height: 277.72px;
  left: 56.771px;
  top: 219.368px;
  transform: matrix(1,0,0,1,0,0);
}
