<div style="height: 35px"></div>
<div id="Station_02_03">
  <svg class="Rechteck_1_v">
    <linearGradient id="Rechteck_1_v" spreadMethod="pad" x1="0.495" x2="0.505" y1="0.025" y2="0.983">
      <stop offset="0" stop-color="#fff" stop-opacity="0"></stop>
      <stop offset="1" stop-color="#4b6c73" stop-opacity="1"></stop>
    </linearGradient>
    <rect id="Rechteck_1_v" rx="0" ry="0" x="0" y="0" width="413.483" height="736.151">
    </rect>
  </svg>
  <img id="annie-spratt-Ee7C9fGiZI4-unspl" src="annie-spratt-Ee7C9fGiZI4-unspl.png" srcset="annie-spratt-Ee7C9fGiZI4-unspl.png 1x, annie-spratt-Ee7C9fGiZI4-unspl@2x.png 2x">

  <div id="Kommt_alle_her_zu_mir_die_Ihr_">
    <span>„Kommt alle her zu mir, die Ihr euch abmüht und unter Eurer Last leidet. <br/><br/>Ich werde Euch Ruhe geben.“</span>
  </div>
  <div id="Matthus_1128">
    <span>Matthäus 11,28</span>
  </div>
</div>
