<mat-card class="matcardContainer">
  <mat-card-header>
    <mat-card-title>FAQ</mat-card-title>
    <mat-card-subtitle>Häufig gestellte Fragen</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Frage 1</mat-panel-title>
        <mat-panel-description>Bei mir wird nur Station 1 angezeigt?</mat-panel-description>
      </mat-expansion-panel-header>
      Erlauben Sie Cookies, Sie werden für die Freischaltung der Stationen benötigt. Ein privates Browserfenster wird nicht unterstützt!
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Frage 3</mat-panel-title>
        <mat-panel-description>Kann ich an einem andrem Tag weiter machen?</mat-panel-description>
      </mat-expansion-panel-header>
      Ja, solange Sie die Cookies nicht löschen bleiben die  Stationen im Aktionszeitraum freigeschaltet! Um weitere Stationen zu bekommen, müssen Sie einen noch nicht gescannten Code scannen!
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Frage 2</mat-panel-title>
        <mat-panel-description>Wie kann ich Sie erreichen?</mat-panel-description>
      </mat-expansion-panel-header>
      Für Fragen, Probleme, Anregungen und wünsche, schreiben Sie uns gerne eine Mail: <a href="mailto:persoenlicheostern@five0.de">persoenlicheostern@five0.de</a><br>
      Bei organisatorischen Fragen Mail: <a href="mailto:j.luebking@hoerde-evangelisch.de">j.luebking@hoerde-evangelisch.de</a>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>

