<div style="height: 35px;"></div>
<div style="margin-left: 15px;">
  <h1>Lukas 2</h1>
  <h3>
    Jesu Geburt
  </h3>
  <p>
  <span

  >Es begab sich aber zu der Zeit, dass ein Gebot von dem Kaiser Augustus ausging, dass alle Welt geschätzt würde. </span>

    <span

    >Und diese Schätzung</span>

    <span
    > war die allererste und geschah zur Zeit, da Quirinius Statthalter in Syrien war. </span>

    <span

    >Und jedermann ging, dass er sich schätzen ließe, ein jeglicher in seine Stadt.</span>

  </p>
  <p>
  <span

  >Da machte sich auf auch Josef aus Galiläa, aus der Stadt Nazareth, in das judäische Land zur Stadt Davids, die da heißt Bethlehem, darum dass er von dem Hause und Geschlechte Davids war, </span>

    <span

    >auf dass er sich schätzen ließe mit Maria, seinem vertrauten Weibe</span>

    <span

    >; die war schwanger. </span>

    <span>Und als sie daselbst waren, kam die Zeit, dass sie gebären sollte. </span>

    <span

    >Und </span>

    <span
    >sie gebar ihren ersten Sohn und wickelte ihn in Windeln und legte ihn in eine Krippe; denn sie hatten sonst keinen Raum in der Herberge.</span>

  </p>
  <p>
  <span

  >Und es waren Hirten in derselben Gegend auf dem Felde bei den Hürden, die hüteten des Nachts ihre Herde. </span>

    <span

    >Und des Herrn Engel trat zu ihnen, und die Klarheit des Herrn leuchtete um sie; und sie fürchteten sich sehr. </span>

    <span

    >Und der Engel sprach zu ihnen: </span>
    <span

    >
    <span
    >Fürchtet euch nicht! Siehe, ich verkündige euch große Freude, die allem Volk widerfahren wird;</span>
    </span>
    <span

    > </span>

    <span

    >
    <span
    >denn euch ist heute der Heiland geboren, welcher ist Christus, der Herr, in der Stadt Davids.</span>
    </span>
    <span

    > </span>

    <span

    >Und das habt zum Zeichen: Ihr werdet finden das Kind in Windeln gewickelt und in einer Krippe liegen. </span>

    <span

    >Und alsbald war da bei dem Engel </span>

    <span
    >die Menge der himmlischen Heerscharen, die lobten Gott und sprachen: </span>


    <span
    >
    <span>Ehre sei Gott in der Höhe und </span>
    </span>

    <span
    >
    <span>Friede auf Erden bei den Menschen seines Wohlgefallens</span>
    </span>

    <span
    >
    <span>.</span>
    </span>

  </p>
  <p>
  <span

  >Und da die Engel von ihnen gen Himmel fuhren, sprachen die Hirten untereinander: Lasst uns nun gehen gen Bethlehem und die Geschichte sehen, die da geschehen ist, die uns der Herr kundgetan hat. </span>

    <span

    >Und sie kamen eilend und fanden beide, Maria und Josef, dazu das Kind in der Krippe liegen. </span>

    <span

    >Da sie es aber gesehen hatten, breiteten sie das Wort aus, welches zu ihnen von diesem Kinde gesagt war. </span>

    <span

    >Und alle, vor die es kam, wunderten sich über die Rede, die ihnen die Hirten gesagt hatten. </span>

    <span

    >Maria aber behielt alle diese Worte und bewegte sie in ihrem Herzen. </span>

    <span

    >Und die Hirten kehrten wieder um, priesen und lobten Gott für alles, was sie gehört und gesehen hatten, wie denn zu ihnen gesagt war.</span>

  </p>
  <h3><span>Jesu Beschneidung und Darstellung im Tempel</span>

  </h3>
  <p>
  <span

  >Und als acht Tage um waren und </span>

    <span
    >er beschnitten werden sollte, </span>

    <span
    >gab man ihm den Namen Jesus, welcher genannt war von dem Engel, ehe er im Mutterleib empfangen war.</span>

  </p>
  <p>
  <span

  >Und als die </span>

    <span
    >Tage ihrer Reinigung nach dem Gesetz des Mose um waren, brachten sie ihn hinauf nach Jerusalem, </span>

    <span
    >um ihn dem Herrn darzustellen, </span>

    <span

    >wie geschrieben steht im Gesetz des Herrn </span>
    <span
    >
    <span>(</span>
    <span
    ><span
    >2. Mose 13,2</span>
      </span>
    <span>; </span>
    <span
    ><span
    >13,15</span></span>
    <span
    >)</span>
    </span>
    <span>: »Alles Männliche, das zuerst den Mutterschoß durchbricht, soll dem Herrn geheiligt heißen«, </span>

    <span

    >und um das Opfer darzubringen, wie es gesagt ist im Gesetz des Herrn: »ein Paar Turteltauben oder zwei junge Tauben« </span>
    <span
    >
    <span>(</span>
    <span
    ><span
    >3. Mose 12,6-8</span>
      </span>
    <span>)</span>
    </span>
    <span
    >.</span>

  </p>
  <p>
  <span

  >Und siehe, ein Mensch war in Jerusalem mit Namen Simeon; und dieser Mensch war gerecht und gottesfürchtig und </span>

    <span
    >wartete auf den Trost Israels, und der Heilige Geist war auf ihm. </span>

    <span

    >Und ihm war vom Heiligen Geist geweissagt worden, er sollte den Tod nicht sehen, er habe denn zuvor den Christus</span>

    <span

    > des Herrn gesehen. </span>

    <span>Und er kam vom Geist geführt in den Tempel. Und als die Eltern das Kind Jesus in den Tempel brachten, um mit ihm zu tun, wie es Brauch ist nach dem Gesetz, </span>

    <span

    >da nahm er ihn auf seine Arme und lobte Gott und sprach:</span>

  </p>
  <p>
  </p>
  <p>
  <span
  >
    <span>Herr, nun lässt du deinen Diener in Frieden fahren,</span>
    </span>

  </p>
  <p><span

  >
  <span
  >wie du gesagt hast;</span>
  </span>

  </p>
  <p>
  <span
  >
    <span>denn meine Augen haben deinen Heiland gesehen,</span>
    </span>

  </p>
  <p>
  <span
  >
    <span>das Heil, das du bereitet hast vor allen Völkern,</span>
    </span>

  </p>
  <p>
  <span
  >
    <span>ein </span>
    </span>

    <span
    >
    <span>Licht zur Erleuchtung der Heiden</span>
    </span>

  </p>
  <p><span

  >
  <span
  >und zum Preis deines Volkes Israel.</span>
  </span>

  </p>
  <p>
  </p>
  <span>
  <span
  >Und sein Vater und seine Mutter wunderten sich über das, was von ihm gesagt wurde. </span>

  <span

  >Und Simeon segnete sie und sprach zu Maria, seiner Mutter: Siehe, dieser ist dazu bestimmt, dass viele in Israel fallen und viele aufstehen, und ist bestimmt zu einem Zeichen, dem widersprochen wird</span>

  <span
  > – </span>

  <span
  >und </span>

  <span

  >auch durch deine Seele wird ein Schwert dringen –, damit aus vielen Herzen die Gedanken offenbar werden.</span>

  </span>
  <p>
  <span

  >Und es war eine Prophetin, Hanna, eine Tochter Phanuëls, aus dem Stamm Asser. Sie war hochbetagt. Nach ihrer Jungfrauschaft</span>

    <span
    > hatte sie sieben Jahre mit ihrem Mann gelebt </span>

    <span

    >und war nun eine Witwe von vierundachtzig Jahren; die wich nicht vom Tempel und </span>

    <span
    >diente Gott mit Fasten und Beten Tag und Nacht. </span>

    <span

    >Die trat auch hinzu zu derselben Stunde und pries Gott und redete von ihm zu allen, die auf die Erlösung Jerusalems warteten.</span>

  </p>
  <p>
  <span

  >Und als sie alles vollendet hatten nach dem Gesetz des Herrn, kehrten sie wieder zurück nach Galiläa in ihre Stadt Nazareth. </span>

    <span

    >Das Kind aber wuchs und wurde stark, voller Weisheit, und Gottes Gnade lag auf ihm.</span>

  </p>
  <h3><span>Der zwölfjährige Jesus im Tempel</span>

  </h3>
  <p>
  <span

  >Und seine Eltern </span>

    <span
    >gingen alle Jahre nach Jerusalem zum Passafest. </span>

    <span

    >Und als er zwölf Jahre alt war, gingen sie hinauf nach dem Brauch des Festes. </span>

    <span

    >Und als </span>

    <span
    >die Tage vorüber waren und sie wieder nach Hause gingen, blieb der Knabe Jesus in Jerusalem, und seine Eltern wussten’s nicht. </span>

    <span

    >Sie meinten aber, er wäre unter den Gefährten, und kamen eine Tagereise weit und suchten ihn unter den Verwandten und Bekannten. </span>

    <span

    >Und da sie ihn nicht fanden, gingen sie wieder nach Jerusalem und suchten ihn.</span>

  </p>
  <p>
  <span

  >Und es begab sich nach drei Tagen, da fanden sie ihn im Tempel sitzen, mitten unter den Lehrern, wie er ihnen zuhörte und sie fragte. </span>

    <span

    >Und alle, die ihm zuhörten, verwunderten sich über seinen </span>

    <span
    >Verstand und seine Antworten. </span>

    <span

    >Und als sie ihn sahen, entsetzten sie sich. Und seine Mutter sprach zu ihm: Mein Kind, warum hast du uns das getan? Siehe, dein Vater und ich haben dich mit Schmerzen gesucht. </span>

    <span

    >Und er sprach zu ihnen: Warum habt ihr mich gesucht? Wusstet ihr nicht, dass ich sein muss in dem, </span>

    <span

    >was meines Vaters ist? </span>

    <span
    >Und sie verstanden das Wort nicht, das er zu ihnen sagte. </span>

    <span

    >Und er ging mit ihnen hinab und kam nach Nazareth und war ihnen gehorsam. Und seine Mutter behielt alle diese Worte in ihrem Herzen. </span>

    <span

    >Und Jesus nahm zu an Weisheit, Alter und Gnade bei Gott und den Menschen.</span>


  </p>
</div>
