.hintergrund {
  background-image: linear-gradient(#fff, #4798E2);
  width: 100%;
  min-width: 414px;
  height: 1500px;
}

.mediaViewInfo {
  --web-view-name: Station 01;
  --web-view-id: Station_01;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Station_01;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Station_01 {
  position: absolute;
  width: 100%;
  max-width: 414px;
  height: 1472px;
  background-color: rgba(255,255,255,1);
  overflow: visible;
  /*overflow-y: visible;*/
  --web-view-name: Station 01;
  --web-view-id: Station_01;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#Gruppe_5 {
  position: absolute;
  /*width: 100%;*/
  /*height: 737px;*/
  /*left: -1px;*/
  top: 30px;
  overflow: visible;
}
#Gruppe_4 {
  position: absolute;
  width: 414.5px;
  height: 737px;
  left: 1px;
  top: 0px;
  overflow: visible;
}
#Pfad_163_ {
  fill: url(#Pfad_163_);
}
.Pfad_163_ {
  overflow: visible;
  position: absolute;
  width: 415px;
  height: 113.772px;
  left: 0px;
  top: 147.114px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_1 {
  position: absolute;
  width: 20px;
  height: 13px;
  left: 18px;
  top: 19px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Men_.html;
  cursor: pointer;
}
#Rechteck_1447 {
  fill: rgba(0,0,0,1);
}
.Rechteck_1447 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 3px;
  left: 0px;
  top: 0px;
}
#Rechteck_1448 {
  fill: rgba(0,0,0,1);
}
.Rechteck_1448 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 3px;
  left: 0px;
  top: 5px;
}
#Rechteck_1449 {
  fill: rgba(0,0,0,1);
}
.Rechteck_1449 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 3px;
  left: 0px;
  top: 10px;
}
#Rechteck_1453 {
  fill: rgba(71,152,226,1);
}
.Rechteck_1453 {
  position: absolute;
  overflow: visible;
  width: 415px;
  height: 736px;
  left: 0px;
  top: 736px;
}
#Large_Body {
  position: absolute;
  width: 327px;
  height: 164px;
  left: 49px;
  top: 70px;
  overflow: visible;
}
#Es_waren_7_von_Jesus_Freunden_ {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 328px;
  height: 164px;
  line-height: 19.5px;
  margin-top: -2.25px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0,0,0,1);
}
#Large_Body_ {
  position: absolute;
  width: 327px;
  height: 164px;
  left: 49px;
  top: 1215px;
  overflow: visible;
}
#Wenn_es_wieder_auf_groe_Fahrt_ {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 328px;
  height: 164px;
  line-height: 23px;
  margin-top: -4px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255,255,255,1);
}
#Warning {
  transform: matrix(1,0,0,1,366,19) rotate(180deg);
  transform-origin: center;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pfad_35 {
  fill: rgba(0,0,0,1);
}
.Pfad_35 {
  overflow: visible;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Button_Large {
  position: absolute;
  width: 327px;
  height: 48px;
  left: 44px;
  top: 1318px;
  overflow: visible;
}
#Rechteck_119 {
  fill: rgba(255,255,255,1);
}
.Rechteck_119 {
  position: absolute;
  overflow: visible;
  width: 327px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#Teile_es_mit_uns {
  left: 95px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 139px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(71,152,226,1);
  text-transform: uppercase;
}
#Gruppe_7 {
  position: absolute;
  width: 126.938px;
  height: 57.898px;
  left: 253.576px;
  top: 941.941px;
  overflow: visible;
}
#Pfad_36 {
  fill: rgba(152,211,130,1);
}
.Pfad_36 {
  overflow: visible;
  position: absolute;
  width: 91.676px;
  height: 57.898px;
  left: 35.262px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_37 {
  fill: rgba(196,247,206,1);
}
.Pfad_37 {
  overflow: visible;
  position: absolute;
  width: 38.502px;
  height: 40.008px;
  left: 0px;
  top: 9.841px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_8 {
  position: absolute;
  width: 73.252px;
  height: 62.462px;
  left: 82.102px;
  top: 857.731px;
  overflow: visible;
}
#Pfad_38 {
  fill: rgba(54,150,118,1);
}
.Pfad_38 {
  overflow: visible;
  position: absolute;
  width: 51.656px;
  height: 36.754px;
  left: 0px;
  top: 14.721px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_39 {
  fill: rgba(96,186,153,1);
}
.Pfad_39 {
  overflow: visible;
  position: absolute;
  width: 21.812px;
  height: 33.014px;
  left: 51.44px;
  top: 16.714px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_40 {
  fill: rgba(54,150,118,1);
}
.Pfad_40 {
  overflow: visible;
  position: absolute;
  width: 23.276px;
  height: 14.523px;
  left: 24.139px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_41 {
  fill: rgba(54,150,118,1);
}
.Pfad_41 {
  overflow: visible;
  position: absolute;
  width: 10.826px;
  height: 8.114px;
  left: 29.336px;
  top: 54.348px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_13 {
  position: absolute;
  width: 101.59px;
  height: 86.626px;
  left: 202.781px;
  top: 1409.42px;
  overflow: visible;
}
#Pfad_38_bo {
  fill: rgba(150,135,54,1);
}
.Pfad_38_bo {
  overflow: visible;
  position: absolute;
  width: 71.641px;
  height: 50.972px;
  left: 0px;
  top: 20.416px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_39_bp {
  fill: rgba(240,245,113,1);
}
.Pfad_39_bp {
  overflow: visible;
  position: absolute;
  width: 30.25px;
  height: 45.786px;
  left: 71.341px;
  top: 23.179px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_40_bq {
  fill: rgba(150,135,54,1);
}
.Pfad_40_bq {
  overflow: visible;
  position: absolute;
  width: 32.28px;
  height: 20.141px;
  left: 33.477px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_41_br {
  fill: rgba(150,135,54,1);
}
.Pfad_41_br {
  overflow: visible;
  position: absolute;
  width: 15.014px;
  height: 11.253px;
  left: 40.685px;
  top: 75.373px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_42 {
  fill: rgba(183,108,108,1);
}
.Pfad_42 {
  overflow: visible;
  position: absolute;
  width: 217.287px;
  height: 89.892px;
  left: 253.576px;
  top: 844.168px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_12 {
  opacity: 0.499;
  position: absolute;
  width: 234.707px;
  height: 102.742px;
  left: -31.926px;
  top: 979.288px;
  overflow: visible;
}
#Pfad_43 {
  fill: rgba(0,0,0,1);
}
.Pfad_43 {
  overflow: visible;
  position: absolute;
  width: 52.688px;
  height: 29.371px;
  left: 135.921px;
  top: 73.37px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_44 {
  fill: rgba(0,0,0,1);
}
.Pfad_44 {
  overflow: visible;
  position: absolute;
  width: 52.354px;
  height: 29.346px;
  left: 182.353px;
  top: 33.894px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_45 {
  fill: rgba(0,0,0,1);
}
.Pfad_45 {
  overflow: visible;
  position: absolute;
  width: 41.038px;
  height: 23.065px;
  left: 128.127px;
  top: 7.238px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_46 {
  fill: rgba(0,0,0,1);
}
.Pfad_46 {
  overflow: visible;
  position: absolute;
  width: 34.821px;
  height: 19.546px;
  left: 72.83px;
  top: 5.604px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_47 {
  fill: rgba(0,0,0,1);
}
.Pfad_47 {
  overflow: visible;
  position: absolute;
  width: 35.005px;
  height: 19.426px;
  left: 44.251px;
  top: 54.871px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_48 {
  fill: rgba(0,0,0,1);
}
.Pfad_48 {
  overflow: visible;
  position: absolute;
  width: 35.061px;
  height: 19.612px;
  left: 91.956px;
  top: 26.614px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_49 {
  fill: rgba(0,0,0,1);
}
.Pfad_49 {
  overflow: visible;
  position: absolute;
  width: 34.904px;
  height: 19.44px;
  left: 22.576px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_50 {
  fill: rgba(0,0,0,1);
}
.Pfad_50 {
  overflow: visible;
  position: absolute;
  width: 34.921px;
  height: 19.444px;
  left: 134.923px;
  top: 42.897px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_51 {
  fill: rgba(0,0,0,1);
}
.Pfad_51 {
  overflow: visible;
  position: absolute;
  width: 26.608px;
  height: 14.991px;
  left: 0px;
  top: 31.28px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_52 {
  fill: rgba(0,0,0,1);
}
.Pfad_52 {
  overflow: visible;
  position: absolute;
  width: 26.777px;
  height: 14.904px;
  left: 39.719px;
  top: 30.401px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_53 {
  fill: rgba(0,0,0,1);
}
.Pfad_53 {
  overflow: visible;
  position: absolute;
  width: 26.757px;
  height: 14.81px;
  left: 92.649px;
  top: 59.951px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_6 {
  position: absolute;
  width: 150.654px;
  height: 71.244px;
  left: -31.926px;
  top: 780.574px;
  overflow: visible;
}
#Pfad_36_b {
  fill: rgba(235,142,171,1);
}
.Pfad_36_b {
  overflow: visible;
  position: absolute;
  width: 107.264px;
  height: 71.244px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_37_b {
  fill: rgba(235,181,198,1);
}
.Pfad_37_b {
  overflow: visible;
  position: absolute;
  width: 47.377px;
  height: 49.23px;
  left: 103.276px;
  top: 12.11px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_11 {
  opacity: 0.499;
  position: absolute;
  width: 234.707px;
  height: 102.742px;
  left: 165px;
  top: 1043.258px;
  overflow: visible;
}
#Pfad_43_b {
  fill: rgba(0,0,0,1);
}
.Pfad_43_b {
  overflow: visible;
  position: absolute;
  width: 52.688px;
  height: 29.372px;
  left: 135.921px;
  top: 73.37px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_44_ca {
  fill: rgba(0,0,0,1);
}
.Pfad_44_ca {
  overflow: visible;
  position: absolute;
  width: 52.354px;
  height: 29.346px;
  left: 182.353px;
  top: 33.894px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_45_cb {
  fill: rgba(0,0,0,1);
}
.Pfad_45_cb {
  overflow: visible;
  position: absolute;
  width: 41.038px;
  height: 23.065px;
  left: 128.127px;
  top: 7.238px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_46_cc {
  fill: rgba(0,0,0,1);
}
.Pfad_46_cc {
  overflow: visible;
  position: absolute;
  width: 34.821px;
  height: 19.546px;
  left: 72.83px;
  top: 5.604px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_47_cd {
  fill: rgba(0,0,0,1);
}
.Pfad_47_cd {
  overflow: visible;
  position: absolute;
  width: 35.005px;
  height: 19.426px;
  left: 44.251px;
  top: 54.871px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_48_ce {
  fill: rgba(0,0,0,1);
}
.Pfad_48_ce {
  overflow: visible;
  position: absolute;
  width: 35.061px;
  height: 19.612px;
  left: 91.956px;
  top: 26.614px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_49_cf {
  fill: rgba(0,0,0,1);
}
.Pfad_49_cf {
  overflow: visible;
  position: absolute;
  width: 34.904px;
  height: 19.44px;
  left: 22.576px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_50_cg {
  fill: rgba(0,0,0,1);
}
.Pfad_50_cg {
  overflow: visible;
  position: absolute;
  width: 34.921px;
  height: 19.444px;
  left: 134.923px;
  top: 42.897px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_51_ch {
  fill: rgba(0,0,0,1);
}
.Pfad_51_ch {
  overflow: visible;
  position: absolute;
  width: 26.608px;
  height: 14.991px;
  left: 0px;
  top: 31.28px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_52_ci {
  fill: rgba(0,0,0,1);
}
.Pfad_52_ci {
  overflow: visible;
  position: absolute;
  width: 26.777px;
  height: 14.904px;
  left: 39.719px;
  top: 30.401px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_53_cj {
  fill: rgba(0,0,0,1);
}
.Pfad_53_cj {
  overflow: visible;
  position: absolute;
  width: 26.757px;
  height: 14.81px;
  left: 92.649px;
  top: 59.951px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_14 {
  opacity: 0.499;
  position: absolute;
  width: 234.707px;
  height: 102.742px;
  left: -79.353px;
  top: 1398px;
  overflow: visible;
}
#Pfad_43_cl {
  fill: rgba(0,0,0,1);
}
.Pfad_43_cl {
  overflow: visible;
  position: absolute;
  width: 52.688px;
  height: 29.372px;
  left: 135.921px;
  top: 73.37px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_44_cm {
  fill: rgba(0,0,0,1);
}
.Pfad_44_cm {
  overflow: visible;
  position: absolute;
  width: 52.354px;
  height: 29.346px;
  left: 182.353px;
  top: 33.894px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_45_cn {
  fill: rgba(0,0,0,1);
}
.Pfad_45_cn {
  overflow: visible;
  position: absolute;
  width: 41.038px;
  height: 23.065px;
  left: 128.127px;
  top: 7.238px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_46_co {
  fill: rgba(0,0,0,1);
}
.Pfad_46_co {
  overflow: visible;
  position: absolute;
  width: 34.821px;
  height: 19.546px;
  left: 72.83px;
  top: 5.604px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_47_cp {
  fill: rgba(0,0,0,1);
}
.Pfad_47_cp {
  overflow: visible;
  position: absolute;
  width: 35.005px;
  height: 19.426px;
  left: 44.251px;
  top: 54.871px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_48_cq {
  fill: rgba(0,0,0,1);
}
.Pfad_48_cq {
  overflow: visible;
  position: absolute;
  width: 35.061px;
  height: 19.612px;
  left: 91.956px;
  top: 26.614px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_49_cr {
  fill: rgba(0,0,0,1);
}
.Pfad_49_cr {
  overflow: visible;
  position: absolute;
  width: 34.904px;
  height: 19.44px;
  left: 22.576px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_50_cs {
  fill: rgba(0,0,0,1);
}
.Pfad_50_cs {
  overflow: visible;
  position: absolute;
  width: 34.921px;
  height: 19.444px;
  left: 134.923px;
  top: 42.897px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_51_ct {
  fill: rgba(0,0,0,1);
}
.Pfad_51_ct {
  overflow: visible;
  position: absolute;
  width: 26.608px;
  height: 14.991px;
  left: 0px;
  top: 31.28px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_52_cu {
  fill: rgba(0,0,0,1);
}
.Pfad_52_cu {
  overflow: visible;
  position: absolute;
  width: 26.777px;
  height: 14.905px;
  left: 39.719px;
  top: 30.4px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_53_cv {
  fill: rgba(0,0,0,1);
}
.Pfad_53_cv {
  overflow: visible;
  position: absolute;
  width: 26.757px;
  height: 14.81px;
  left: 92.649px;
  top: 59.951px;
  transform: matrix(1,0,0,1,0,0);
}
#Rechteck_1454 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rechteck_1454 {
  position: absolute;
  overflow: visible;
  width: 355px;
  height: 99px;
  left: 30px;
  top: 1198px;
}
#Gruppe_33 {
  position: absolute;
  width: 670.367px;
  height: 273.253px;
  left: -110.411px;
  top: 221.5px;
  overflow: visible;
}
#Pfad_11 {
  fill: rgba(0,0,0,1);
}
.Pfad_11 {
  overflow: visible;
  position: absolute;
  width: 213.679px;
  height: 20.734px;
  left: 299.181px;
  top: 232.33px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_12 {
  fill: rgba(0,0,0,1);
}
.Pfad_12 {
  overflow: visible;
  position: absolute;
  width: 279.077px;
  height: 18.426px;
  left: 277.525px;
  top: 250.003px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_13 {
  fill: rgba(0,0,0,1);
}
.Pfad_13 {
  overflow: visible;
  position: absolute;
  width: 38.592px;
  height: 3.446px;
  left: 374.442px;
  top: 264.387px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_14 {
  fill: rgba(0,0,0,1);
}
.Pfad_14 {
  overflow: visible;
  position: absolute;
  width: 32.078px;
  height: 1.262px;
  left: 406.061px;
  top: 271.991px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_15 {
  fill: rgba(0,0,0,1);
}
.Pfad_15 {
  overflow: visible;
  position: absolute;
  width: 670.367px;
  height: 238.461px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Forward_arrow {
  transform: matrix(1,0,0,1,192.5,639.5) rotate(90deg);
  transform-origin: center;
  position: absolute;
  width: 21px;
  height: 28px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pfad_10 {
  fill: rgba(0,0,0,1);
  stroke: rgba(0,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Pfad_10 {
  overflow: visible;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 7px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Neu_anfangen {
  left: 49px;
  top: 16.5px;
  position: absolute;
  overflow: visible;
  width: 205px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
}
#Large_Body_c {
  position: absolute;
  width: 327px;
  height: 139px;
  left: 44px;
  top: 561px;
  overflow: visible;
}
#Sich_einfach_so_zu_treffen_geh {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 328px;
  height: 139px;
  line-height: 23px;
  margin-top: -4px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,1);
}
#Gruppe_34 {
  position: absolute;
  width: 454.246px;
  height: 179.199px;
  left: 332.833px;
  top: 237.665px;
  overflow: visible;
}
#Pfad_16 {
  fill: rgba(0,0,0,1);
}
.Pfad_16 {
  overflow: visible;
  position: absolute;
  width: 454.246px;
  height: 179.199px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
