.mediaViewInfo {
  --web-view-name: Station 01_01;
  --web-view-id: Station_01_01;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Station_01_01;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Station_01_01 {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 736px;
  overflow: scroll;
  --web-view-name: Station 01_01;
  --web-view-id: Station_01_01;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#Rechteck_1_v {
  fill: url(#Rechteck_1_v);
  width: 100%;
  height: 100%;
}
.Rechteck_1_v {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  left: 0.371px;
  top: 0.027px;
}
#Es_begab_sich_aber_zu_der_Zeit {
  left: 190.153px;
  top: 91.432px;
  position: absolute;
  overflow: visible;
  width: 167.847px;
  height: 197.95420837402344px;
  line-height: 18px;
  margin-top: -2px;
  text-align: left;
  font-family: American Typewriter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(22,22,21,1);
}
#Gruppe_1 {
  position: absolute;
  width: 34px;
  height: 25px;
  left: 23px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Station_02_01.html;
  cursor: pointer;
}
#Rechteck_2 {
  fill: rgba(75,108,115,1);
}
.Rechteck_2 {
  position: absolute;
  overflow: visible;
  width: 34px;
  height: 5px;
  left: 0px;
  top: 0px;
}
#Rechteck_7 {
  fill: rgba(75,108,115,1);
}
.Rechteck_7 {
  position: absolute;
  overflow: visible;
  width: 34px;
  height: 5px;
  left: 0px;
  top: 10px;
}
#Rechteck_6 {
  fill: rgba(75,108,115,1);
}
.Rechteck_6 {
  position: absolute;
  overflow: visible;
  width: 34px;
  height: 5px;
  left: 0px;
  top: 20px;
}
#Pfad_1 {
  fill: rgba(5,78,88,1);
}
.Pfad_1 {
  overflow: visible;
  position: absolute;
  width: 300px;
  height: 165.999px;
  left: 57px;
  top: 286px;
  transform: matrix(1,0,0,1,0,0);
}
#JOSEF {
  left: 50.899px;
  top: 80.208px;
  position: absolute;
  overflow: visible;
  width: 49.311px;
  height: 25.707454681396484px;
  text-align: center;
  font-family: Nunito-Italic;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(22,22,21,1);
}
#Rechteck_14 {
  fill: rgba(5,78,88,1);
}
.Rechteck_14 {
  position: absolute;
  overflow: visible;
  width: 300px;
  height: 52px;
  left: 57px;
  top: 493px;
}
#Rechteck_15 {
  fill: rgba(5,78,88,1);
}
.Rechteck_15 {
  position: absolute;
  overflow: visible;
  width: 300px;
  height: 52px;
  left: 57px;
  top: 557px;
}
#Rechteck_16 {
  fill: rgba(5,78,88,1);
}
.Rechteck_16 {
  position: absolute;
  overflow: visible;
  width: 300px;
  height: 52px;
  left: 57px;
  top: 621px;
}
#WAS_TRADITIONELLES {
  left: 57px;
  top: 510px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255,255,255,1);
}
#MODERNER_OHRWURM {
  left: 57px;
  top: 575px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255,255,255,1);
}
#KLEINE_UND_GROE_KINDER {
  left: 57px;
  top: 639px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255,255,255,1);
}
#Die_Reise_ist_fr_Maria_richtig {
  left: 76px;
  top: 341px;
  position: absolute;
  overflow: visible;
  width: 263px;
  white-space: pre-line;
  line-height: 16px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255,255,255,1);
}
#Gruppe_100 {
  position: absolute;
  width: 115.636px;
  height: 174.544px;
  left: 57px;
  top: 93px;
  overflow: visible;
}
#Rechteck_8 {
  fill: rgba(34,20,13,1);
}
.Rechteck_8 {
  position: absolute;
  overflow: visible;
  width: 26.626px;
  height: 106.505px;
  left: 85.645px;
  top: 36.626px;
}
#Rechteck_10 {
  fill: rgba(34,20,13,1);
}
.Rechteck_10 {
  position: absolute;
  overflow: visible;
  width: 26.626px;
  height: 106.505px;
  left: 2.383px;
  top: 36.627px;
}
#Gruppe_2 {
  position: absolute;
  width: 17.833px;
  height: 17.833px;
  left: 94.496px;
  top: 45.436px;
  overflow: visible;
}
#Ellipse_1 {
  fill: rgba(233,197,162,1);
}
.Ellipse_1 {
  position: absolute;
  overflow: visible;
  width: 17.833px;
  height: 17.833px;
  left: 0px;
  top: 0px;
}
#Ellipse_2 {
  fill: rgba(235,189,146,1);
}
.Ellipse_2 {
  position: absolute;
  overflow: visible;
  width: 11.689px;
  height: 11.689px;
  left: 3.073px;
  top: 3.073px;
}
#Gruppe_77 {
  position: absolute;
  width: 17.833px;
  height: 17.833px;
  left: 4.49px;
  top: 45.436px;
  overflow: visible;
}
#Ellipse_1-2 {
  fill: rgba(233,197,162,1);
}
.Ellipse_1-2 {
  position: absolute;
  overflow: visible;
  width: 17.833px;
  height: 17.833px;
  left: 0px;
  top: 0px;
}
#Ellipse_2-2 {
  fill: rgba(235,189,146,1);
}
.Ellipse_2-2 {
  position: absolute;
  overflow: visible;
  width: 11.689px;
  height: 11.689px;
  left: 3.073px;
  top: 3.073px;
}
#Pfad_2 {
  fill: rgba(233,197,162,1);
}
.Pfad_2 {
  overflow: visible;
  position: absolute;
  width: 89.378px;
  height: 127.754px;
  left: 13.713px;
  top: 0.458px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_3 {
  fill: rgba(235,189,146,1);
}
.Pfad_3 {
  overflow: visible;
  position: absolute;
  width: 44.605px;
  height: 127.574px;
  left: 58.487px;
  top: 0.641px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_3 {
  fill: rgba(17,18,17,1);
}
.Ellipse_3 {
  position: absolute;
  overflow: visible;
  width: 9.867px;
  height: 9.867px;
  left: 35.369px;
  top: 46.91px;
}
#Ellipse_4 {
  fill: rgba(17,18,17,1);
}
.Ellipse_4 {
  position: absolute;
  overflow: visible;
  width: 9.867px;
  height: 9.867px;
  left: 73.198px;
  top: 46.91px;
}
#Pfad_5 {
  fill: rgba(34,20,13,1);
}
.Pfad_5 {
  overflow: visible;
  position: absolute;
  width: 57.225px;
  height: 57.225px;
  left: 58.411px;
  top: 0.459px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_5 {
  fill: rgba(34,20,13,1);
}
.Ellipse_5 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 29.563px;
  top: 100.454px;
}
#Ellipse_6 {
  fill: rgba(34,20,13,1);
}
.Ellipse_6 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 45.009px;
  top: 106.071px;
}
#Ellipse_6_bq {
  fill: rgba(34,20,13,1);
}
.Ellipse_6_bq {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 45.171px;
  top: 96.529px;
}
#Ellipse_7 {
  fill: rgba(34,20,13,1);
}
.Ellipse_7 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 25.585px;
  top: 109.951px;
}
#Ellipse_8 {
  fill: rgba(34,20,13,1);
}
.Ellipse_8 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 32.957px;
  top: 120.834px;
}
#Ellipse_9 {
  fill: rgba(76,34,14,1);
}
.Ellipse_9 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 39.626px;
  top: 139.79px;
}
#Ellipse_10 {
  fill: rgba(34,20,13,1);
}
.Ellipse_10 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 16.575px;
  top: 96.593px;
}
#Ellipse_10_bv {
  fill: rgba(34,20,13,1);
}
.Ellipse_10_bv {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 11.745px;
  top: 103.083px;
}
#Ellipse_10_bw {
  fill: rgba(34,20,13,1);
}
.Ellipse_10_bw {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 3.897px;
  top: 89.197px;
}
#Ellipse_11 {
  fill: rgba(34,20,13,1);
}
.Ellipse_11 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 58.582px;
  top: 101.157px;
}
#Ellipse_12 {
  fill: rgba(34,20,13,1);
}
.Ellipse_12 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 62.56px;
  top: 110.653px;
}
#Ellipse_13 {
  fill: rgba(34,20,13,1);
}
.Ellipse_13 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 55.189px;
  top: 121.535px;
}
#Ellipse_14 {
  fill: rgba(34,20,13,1);
}
.Ellipse_14 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 32.841px;
  top: 132.031px;
}
#Ellipse_15 {
  fill: rgba(34,20,13,1);
}
.Ellipse_15 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 48.519px;
  top: 140.491px;
}
#Ellipse_16 {
  fill: rgba(34,20,13,1);
}
.Ellipse_16 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 55.54px;
  top: 131.716px;
}
#Ellipse_17 {
  fill: rgba(34,20,13,1);
}
.Ellipse_17 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 60.454px;
  top: 118.025px;
}
#Ellipse_18 {
  fill: rgba(34,20,13,1);
}
.Ellipse_18 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 80.595px;
  top: 92.63px;
}
#Ellipse_19 {
  fill: rgba(34,20,13,1);
}
.Ellipse_19 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 29.212px;
  top: 120.482px;
}
#Ellipse_20 {
  fill: rgba(34,20,13,1);
}
.Ellipse_20 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 71.571px;
  top: 97.295px;
}
#Ellipse_21 {
  fill: rgba(34,20,13,1);
}
.Ellipse_21 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 71.126px;
  top: 108.018px;
}
#Ellipse_21_b {
  fill: rgba(34,20,13,1);
}
.Ellipse_21_b {
  position: absolute;
  overflow: visible;
  width: 20.878px;
  height: 21.848px;
  left: 90.143px;
  top: 88.367px;
}
#Ellipse_22 {
  fill: rgba(34,20,13,1);
}
.Ellipse_22 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 47.921px;
  top: 147.861px;
}
#Ellipse_23 {
  fill: rgba(34,20,13,1);
}
.Ellipse_23 {
  position: absolute;
  overflow: visible;
  width: 26.683px;
  height: 26.683px;
  left: 39.602px;
  top: 147.861px;
}
#Pfad_8 {
  fill: rgba(34,20,13,1);
}
.Pfad_8 {
  overflow: visible;
  position: absolute;
  width: 58.416px;
  height: 53.134px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_3 {
  position: absolute;
  width: 10.365px;
  height: 24.412px;
  left: 53.176px;
  top: 57.991px;
  overflow: visible;
}
#Rechteck_9 {
  fill: rgba(230,98,60,1);
}
.Rechteck_9 {
  position: absolute;
  overflow: visible;
  width: 10.351px;
  height: 24.398px;
  left: 0px;
  top: 0.013px;
}
#Pfad_4 {
  fill: rgba(200,81,51,1);
}
.Pfad_4 {
  overflow: visible;
  position: absolute;
  width: 5.022px;
  height: 24.412px;
  left: 5.343px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Rechteck_73 {
  fill: rgba(34,20,13,1);
}
.Rechteck_73 {
  position: absolute;
  overflow: visible;
  width: 14.338px;
  height: 5.051px;
  left: 31.484px;
  top: 38.652px;
}
#Rechteck_74 {
  fill: rgba(34,20,13,1);
}
.Rechteck_74 {
  position: absolute;
  overflow: visible;
  width: 13.276px;
  height: 4.689px;
  left: 71.112px;
  top: 39.015px;
}
#Gruppe_98 {
  position: absolute;
  width: 46.155px;
  height: 26.928px;
  left: 12.367px;
  top: 78.751px;
  overflow: visible;
}
#Pfad_6 {
  fill: rgba(34,20,13,1);
}
.Pfad_6 {
  overflow: visible;
  position: absolute;
  width: 46.155px;
  height: 26.928px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_88 {
  fill: rgba(21,14,10,1);
}
.Pfad_88 {
  overflow: visible;
  position: absolute;
  width: 46.136px;
  height: 23.597px;
  left: 0.004px;
  top: 3.264px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_99 {
  position: absolute;
  width: 46.155px;
  height: 26.929px;
  left: 58.047px;
  top: 78.791px;
  overflow: visible;
}
#Pfad_7 {
  fill: rgba(34,20,13,1);
}
.Pfad_7 {
  overflow: visible;
  position: absolute;
  width: 46.155px;
  height: 26.929px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_89 {
  fill: rgba(21,14,10,1);
}
.Pfad_89 {
  overflow: visible;
  position: absolute;
  width: 46.136px;
  height: 23.597px;
  left: 0.016px;
  top: 3.298px;
  transform: matrix(1,0,0,1,0,0);
}
