<div class="hintergrund">
  <div class="center-absolut-container">
    <div class="center-absolut">
      <div id="Station_07_02">
        <div id="Immer_wieder_neu">
          <span>Immer wieder neu</span>
        </div>
        <div id="Large_Body">
          <div id="Frisches_Brot_Duftendes_weiche">
            <span>Frisches Brot. Duftendes, weiches, warmes Brot. <br/>Mach mal kurz die Augen zu und <br/>stelle es Dir vor.<br/>Die knusprige Kruste, die kracht, wenn Du ein Stück abbeißt. <br/>Trinken. Wein, Wasser, Saft - <br/>was Du gerne magst. <br/>Wegspülen, die Kehle wird überschwemmt und dann ist alles wieder frei.<br/>Wenn Du Dich konzentrierst, spürst Du das Nass durch Deinen ganzen Hals wandern, <br/>bis es im Magen verschwindet.<br/>Wenn Du isst und trinkst, bekommst Du neue Kraft. <br/>Ohne Nahrung können wir nicht weiterleben. <br/>Immer wieder brauchen wir mehr. Für Bauch, Muskeln und Gehirn. Für Kopf und Herz.<br/>In der christlichen Tradition ist es etwas Besonderes, Brot und auch Wein miteinander zu teilen. </span>
          </div>
          <div id="Denn_beim_letzten_Essen_mit_se">
            <span>Denn beim letzten Essen mit seinen Freund:innen am Abend vor seinem Tod erzählte Jesus, dass er in diesen Zeichen für immer nahe ist.<br/>Wenn sie das Brot des Lebens und den Kelch der Heilung an Andere weitergeben, ist für viele Menschen die Gemeinschaft mit Jesus und untereinander besonders deutlich.<br/>Deshalb machen wir das heute noch, dieses Teilen von Brot und Kelch. In den evangelischen Gemeinden heißt das Abendmahl, in den katholischen die Heilige Kommunion. </span><br><span
            style="font-style:normal;font-weight:bold;">Schmeckt und seht, wie freundlich Gott ist!</span>
          </div>
        </div>
        <div id="Forward_arrow" class="Forward_arrow">
          <svg class="Pfad_10" viewBox="0 0 21 21">
            <path id="Pfad_10"
                  d="M 10.5 0 L 8.590909957885742 1.909090876579285 L 15.81818199157715 9.136363983154297 L 0 9.136363983154297 L 0 11.8636360168457 L 15.81818199157715 11.8636360168457 L 8.590909957885742 19.09090995788574 L 10.5 21 L 21 10.5 L 10.5 0 Z">
            </path>
          </svg>
        </div>
        <img id="Station7_Header_oben" src="assets/station/7/Station7_Header_oben.png">

        <img id="Station7_Header_unten" src="assets/station/7/Station7_Header_unten.png">

      </div>
    </div>
  </div>
  <app-info-button></app-info-button>
</div>
