<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span matBadge="🎄" matBadgeOverlap="false"
            [matBadgeHidden]="isAnyStationViewed()">Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="station/1" *ngIf="qrCounter.lastCounter >= 1">
        <span matBadge="🎄" matBadgeOverlap="false"
              [matBadgeHidden]="qrCounter.isStationViewed('1')">Station 1</span></a>
      <a mat-list-item href="station/2" *ngIf="qrCounter.lastCounter >= 2 ">
        <span matBadge="🎄" matBadgeOverlap="false"
              [matBadgeHidden]="qrCounter.isStationViewed('2')">Station 2</span></a>
      <a mat-list-item href="station/3" *ngIf="qrCounter.lastCounter >= 3 ">
        <span matBadge="🎄" matBadgeOverlap="false"
              [matBadgeHidden]="qrCounter.isStationViewed('3')">Station 3</span></a>
      <a mat-list-item href="station/4" *ngIf="qrCounter.lastCounter >= 4 ">
        <span matBadge="🎄" matBadgeOverlap="false"
              [matBadgeHidden]="qrCounter.isStationViewed('4')">Station 4</span></a>
      <a mat-list-item href="station/5" *ngIf="qrCounter.lastCounter >= 5 ">
        <span matBadge="🎄" matBadgeOverlap="false"
              [matBadgeHidden]="qrCounter.isStationViewed('5')">Station 5</span></a>
      <a mat-list-item href="station/6" *ngIf="qrCounter.lastCounter >= 6 ">
        <span matBadge="🎄" matBadgeOverlap="false"
              [matBadgeHidden]="qrCounter.isStationViewed('6')">Station 6</span></a>
      <a mat-list-item href="station/7" *ngIf="qrCounter.lastCounter >= 7 ">
        <span matBadge="🎄" matBadgeOverlap="false"
              [matBadgeHidden]="qrCounter.isStationViewed('7')">Station 7</span></a>
      <a mat-list-item href="station/8" *ngIf="qrCounter.lastCounter >= 8 ">
        <span matBadge="🎄" matBadgeOverlap="false"
              [matBadgeHidden]="qrCounter.isStationViewed('8')">Station 8</span></a>
      <a mat-list-item href="reward">Belohnung</a>
      <a mat-list-item href="map">Karte</a>
      <a mat-list-item href="dev">Dev</a>
      <div style="bottom: 0; position: absolute; width: 100%">
        <a mat-list-item href="http://five0.de/impressum/">Impressum</a>
        <a mat-list-item href="http://five0.de/datenschutzerklaerung/">Datenschutzerklärung</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" matBadge="🎄" matBadgeColor="accent"
                  [matBadgeHidden]="isAnyStationViewed()">menu
        </mat-icon>
      </button>
      <span>Weihnachtsrundgang 2020</span>
    </mat-toolbar>
    <div class="container" style="height: 90%; width: 90%">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
