<mat-card style="height: fit-content; margin: 10px; max-width: 600px">
  <mat-card-header>
    <mat-card-title>Landing Page</mat-card-title>
    <mat-card-subtitle>Startseite</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Startseite der Anwendung.<br/>
      Soll ersten Eindruck vermitteln.<br/>
      (Begrüsungstext & Kontext der Stationen)
    </p>
    <p>
      JavaScript & Cookies Infos
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button href="erklaerung">zur Erklärung</a>
    <a mat-raised-button href="station" *ngIf="qrCounter.lastCounter > 0">zur neusten Station</a>
  </mat-card-actions>
</mat-card>
