.hintergrund {
  background-image: linear-gradient(#fff, #4798E2 50%, #4798E2);
  width: 100%;
  min-width: 414px;
  height: 1500px;
}

.mediaViewInfo {
  --web-view-name: Station 04;
  --web-view-id: Station_04;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Station_04;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Station_04 {
  position: absolute;
  width: 414px;
  height: 1472px;
  background-color: rgba(255,255,255,1);
  /*overflow: hidden;*/
  --web-view-name: Station 04;
  --web-view-id: Station_04;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#Gruppe_5 {
  position: absolute;
  width: 414.5px;
  height: 737px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Gruppe_4 {
  position: absolute;
  width: 414.5px;
  height: 737px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rechteck_1453 {
  fill: rgba(71,152,226,1);
}
.Rechteck_1453 {
  position: absolute;
  overflow: visible;
  width: 415px;
  height: 736px;
  left: 0px;
  top: 736px;
}
#Gruppe_1 {
  position: absolute;
  width: 20px;
  height: 13px;
  left: 18px;
  top: 19px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Men_.html;
  cursor: pointer;
}
#Rechteck_1447 {
  fill: rgba(0,0,0,1);
}
.Rechteck_1447 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 3px;
  left: 0px;
  top: 0px;
}
#Rechteck_1448 {
  fill: rgba(0,0,0,1);
}
.Rechteck_1448 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 3px;
  left: 0px;
  top: 5px;
}
#Rechteck_1449 {
  fill: rgba(0,0,0,1);
}
.Rechteck_1449 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 3px;
  left: 0px;
  top: 10px;
}
#Warning {
  transform: matrix(1,0,0,1,366,19) rotate(180deg);
  transform-origin: center;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pfad_35 {
  fill: rgba(0,0,0,1);
}
.Pfad_35 {
  overflow: visible;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Large_Body {
  position: absolute;
  width: 327px;
  height: 164px;
  left: 49px;
  top: 70px;
  overflow: visible;
}
#Jesus_sagte_Fahrt_noch_einmal_ {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 328px;
  height: 164px;
  line-height: 19.5px;
  margin-top: -2.25px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0,0,0,1);
}
#Large_Body_ {
  position: absolute;
  width: 327px;
  height: 59px;
  left: 44px;
  top: 1036px;
  overflow: visible;
}
#Neuer_Versuch__neue_Perspektiv {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 328px;
  height: 59px;
  line-height: 23px;
  margin-top: -4px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,1);
}
#Rechteck_1454 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rechteck_1454 {
  position: absolute;
  overflow: visible;
  width: 355px;
  height: 72px;
  left: 30px;
  top: 1023px;
}
#Gruppe_28 {
  position: absolute;
  width: 327px;
  height: 48px;
  left: 44px;
  top: 1142px;
  overflow: visible;
}
#Gruppe_26 {
  position: absolute;
  width: 327px;
  height: 48px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Button_Large {
  position: absolute;
  width: 327px;
  height: 48px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rechteck_119 {
  fill: rgba(255,255,255,1);
}
.Rechteck_119 {
  position: absolute;
  overflow: visible;
  width: 327px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#Denken {
  left: 132px;
  top: 16px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(23,106,198,1);
  text-transform: uppercase;
}
#Gruppe_27 {
  position: absolute;
  width: 327px;
  height: 48px;
  left: 44px;
  top: 1211px;
  overflow: visible;
}
#Gruppe_17 {
  position: absolute;
  width: 327px;
  height: 48px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Button_Large_bi {
  position: absolute;
  width: 327px;
  height: 48px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rechteck_119_bj {
  fill: rgba(255,255,255,1);
}
.Rechteck_119_bj {
  position: absolute;
  overflow: visible;
  width: 327px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#Tun {
  left: 148px;
  top: 16px;
  position: absolute;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(23,106,198,1);
  text-transform: uppercase;
}
#Pfad_162_bm {
  fill: url(#Pfad_162_bm);
}
.Pfad_162_bm {
  overflow: visible;
  position: absolute;
  width: 415px;
  height: 113.772px;
  left: 0px;
  top: 243.679px;
  transform: matrix(1,0,0,1,0,0);
}
#Neue_Perspektive {
  left: 49px;
  top: 16.5px;
  position: absolute;
  overflow: visible;
  width: 205px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
}
#Forward_arrow {
  transform: matrix(1,0,0,1,192.5,639.5) rotate(90deg);
  transform-origin: center;
  position: absolute;
  width: 21px;
  height: 28px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pfad_10 {
  fill: rgba(0,0,0,1);
  stroke: rgba(0,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Pfad_10 {
  overflow: visible;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 7px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Large_Body_bq {
  position: absolute;
  width: 327px;
  height: 139px;
  left: 44px;
  top: 561px;
  overflow: visible;
}
#Das_haben_wir_schon_immer_so_g {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 328px;
  height: 139px;
  line-height: 23px;
  margin-top: -4px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,1);
}
#Gruppe_215 {
  position: absolute;
  width: 117.313px;
  height: 117.365px;
  left: 99.687px;
  top: 1361.632px;
  overflow: visible;
}
#Pfad_1667 {
  fill: rgba(170,111,72,1);
}
.Pfad_1667 {
  overflow: visible;
  position: absolute;
  width: 113.314px;
  height: 113.371px;
  left: 2.003px;
  top: 1.998px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1668 {
  fill: rgba(0,0,0,1);
}
.Pfad_1668 {
  overflow: visible;
  position: absolute;
  width: 117.313px;
  height: 117.365px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_214 {
  position: absolute;
  width: 147.06px;
  height: 177.912px;
  left: -13.641px;
  top: 1301.085px;
  overflow: visible;
}
#Pfad_1655 {
  fill: rgba(0,0,0,1);
}
.Pfad_1655 {
  overflow: visible;
  position: absolute;
  width: 147.06px;
  height: 177.731px;
  left: 0px;
  top: 0.181px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1662 {
  fill: rgba(191,55,55,1);
}
.Pfad_1662 {
  overflow: visible;
  position: absolute;
  width: 135.14px;
  height: 165.842px;
  left: 5.936px;
  top: 6.101px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_226 {
  position: absolute;
  width: 35.597px;
  height: 38.674px;
  left: 108.044px;
  top: 0px;
  overflow: visible;
}
#Pfad_1721 {
  fill: rgba(0,0,0,1);
}
.Pfad_1721 {
  overflow: visible;
  position: absolute;
  width: 6.858px;
  height: 6.851px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1722 {
  fill: rgba(0,0,0,1);
}
.Pfad_1722 {
  overflow: visible;
  position: absolute;
  width: 25.965px;
  height: 21.934px;
  left: 9.631px;
  top: 1.527px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1723 {
  fill: rgba(0,0,0,1);
}
.Pfad_1723 {
  overflow: visible;
  position: absolute;
  width: 14.164px;
  height: 14.169px;
  left: 2.32px;
  top: 24.505px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1724_b {
  fill: url(#Pfad_1724_b);
}
.Pfad_1724_b {
  overflow: visible;
  position: absolute;
  width: 3.796px;
  height: 3.819px;
  left: 1.525px;
  top: 1.524px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1725_b {
  fill: url(#Pfad_1725_b);
}
.Pfad_1725_b {
  overflow: visible;
  position: absolute;
  width: 18.886px;
  height: 18.893px;
  left: 15.189px;
  top: 3.051px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1726_b {
  fill: url(#Pfad_1726_b);
}
.Pfad_1726_b {
  overflow: visible;
  position: absolute;
  width: 5.114px;
  height: 7.427px;
  left: 11.952px;
  top: 12.395px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1727_b {
  fill: url(#Pfad_1727_b);
}
.Pfad_1727_b {
  overflow: visible;
  position: absolute;
  width: 11.114px;
  height: 11.113px;
  left: 3.852px;
  top: 26.041px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1728 {
  fill: rgba(0,0,0,1);
}
.Pfad_1728 {
  overflow: visible;
  position: absolute;
  width: 1.734px;
  height: 2.127px;
  left: 3.154px;
  top: 1.912px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1729 {
  fill: rgba(0,0,0,1);
}
.Pfad_1729 {
  overflow: visible;
  position: absolute;
  width: 3.312px;
  height: 4.974px;
  left: 29.807px;
  top: 6.046px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1730 {
  fill: rgba(0,0,0,1);
}
.Pfad_1730 {
  overflow: visible;
  position: absolute;
  width: 2.421px;
  height: 4.211px;
  left: 11.058px;
  top: 27.745px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_217 {
  position: absolute;
  width: 81.505px;
  height: 77.755px;
  left: 303.495px;
  top: 1368.059px;
  overflow: visible;
}
#Pfad_1674 {
  fill: rgba(0,0,0,1);
}
.Pfad_1674 {
  overflow: visible;
  position: absolute;
  width: 81.505px;
  height: 77.755px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1675 {
  fill: rgba(0,0,0,1);
}
.Pfad_1675 {
  overflow: visible;
  position: absolute;
  width: 4.647px;
  height: 4.625px;
  left: 45.867px;
  top: 38.348px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1676 {
  fill: rgba(0,0,0,1);
}
.Pfad_1676 {
  overflow: visible;
  position: absolute;
  width: 4.643px;
  height: 4.643px;
  left: 31.151px;
  top: 37.451px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1677 {
  fill: rgba(0,0,0,1);
}
.Pfad_1677 {
  overflow: visible;
  position: absolute;
  width: 4.039px;
  height: 4.053px;
  left: 47.01px;
  top: 51.032px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1678 {
  fill: rgba(0,0,0,1);
}
.Pfad_1678 {
  overflow: visible;
  position: absolute;
  width: 4.026px;
  height: 4.038px;
  left: 39.331px;
  top: 26.438px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1679 {
  fill: rgba(211,89,136,1);
}
.Pfad_1679 {
  overflow: visible;
  position: absolute;
  width: 76.402px;
  height: 72.658px;
  left: 2.563px;
  top: 2.542px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1680 {
  fill: rgba(0,0,0,1);
}
.Pfad_1680 {
  overflow: visible;
  position: absolute;
  width: 3.994px;
  height: 4.009px;
  left: 29.884px;
  top: 51.244px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1681 {
  fill: rgba(0,0,0,1);
}
.Pfad_1681 {
  overflow: visible;
  position: absolute;
  width: 3.428px;
  height: 3.448px;
  left: 39.814px;
  top: 20.872px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1682 {
  fill: rgba(0,0,0,1);
}
.Pfad_1682 {
  overflow: visible;
  position: absolute;
  width: 3.44px;
  height: 3.435px;
  left: 57.926px;
  top: 35.05px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1683 {
  fill: rgba(0,0,0,1);
}
.Pfad_1683 {
  overflow: visible;
  position: absolute;
  width: 3.428px;
  height: 3.425px;
  left: 50.217px;
  top: 55.825px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1684 {
  fill: rgba(0,0,0,1);
}
.Pfad_1684 {
  overflow: visible;
  position: absolute;
  width: 3.437px;
  height: 3.419px;
  left: 20.425px;
  top: 34.158px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1685 {
  fill: rgba(0,0,0,1);
}
.Pfad_1685 {
  overflow: visible;
  position: absolute;
  width: 3.419px;
  height: 3.417px;
  left: 26.888px;
  top: 55.874px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1686 {
  fill: rgba(0,0,0,1);
}
.Pfad_1686 {
  overflow: visible;
  position: absolute;
  width: 2.825px;
  height: 2.848px;
  left: 53.163px;
  top: 59.851px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1687 {
  fill: rgba(0,0,0,1);
}
.Pfad_1687 {
  overflow: visible;
  position: absolute;
  width: 2.854px;
  height: 2.834px;
  left: 24.472px;
  top: 59.832px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1688 {
  fill: rgba(0,0,0,1);
}
.Pfad_1688 {
  overflow: visible;
  position: absolute;
  width: 2.839px;
  height: 2.853px;
  left: 62.94px;
  top: 33.99px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1689 {
  fill: rgba(0,0,0,1);
}
.Pfad_1689 {
  overflow: visible;
  position: absolute;
  width: 2.834px;
  height: 2.835px;
  left: 16.104px;
  top: 32.957px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1690 {
  fill: rgba(0,0,0,1);
}
.Pfad_1690 {
  overflow: visible;
  position: absolute;
  width: 2.834px;
  height: 2.833px;
  left: 39.938px;
  top: 16.449px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1691 {
  fill: rgba(0,0,0,1);
}
.Pfad_1691 {
  overflow: visible;
  position: absolute;
  width: 2.267px;
  height: 2.266px;
  left: 12.557px;
  top: 32.054px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1692 {
  fill: rgba(0,0,0,1);
}
.Pfad_1692 {
  overflow: visible;
  position: absolute;
  width: 2.257px;
  height: 2.251px;
  left: 55.553px;
  top: 63.685px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1693 {
  fill: rgba(0,0,0,1);
}
.Pfad_1693 {
  overflow: visible;
  position: absolute;
  width: 2.23px;
  height: 2.232px;
  left: 22.445px;
  top: 63.432px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1694 {
  fill: rgba(0,0,0,1);
}
.Pfad_1694 {
  overflow: visible;
  position: absolute;
  width: 2.225px;
  height: 2.241px;
  left: 67.263px;
  top: 33.11px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1695 {
  fill: rgba(0,0,0,1);
}
.Pfad_1695 {
  overflow: visible;
  position: absolute;
  width: 2.224px;
  height: 2.254px;
  left: 40.181px;
  top: 12.514px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1696 {
  fill: rgba(0,0,0,1);
}
.Pfad_1696 {
  overflow: visible;
  position: absolute;
  width: 1.659px;
  height: 1.666px;
  left: 40.461px;
  top: 9.508px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1697 {
  fill: rgba(0,0,0,1);
}
.Pfad_1697 {
  overflow: visible;
  position: absolute;
  width: 1.658px;
  height: 1.653px;
  left: 20.902px;
  top: 66.618px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1698 {
  fill: rgba(0,0,0,1);
}
.Pfad_1698 {
  overflow: visible;
  position: absolute;
  width: 1.648px;
  height: 1.632px;
  left: 9.721px;
  top: 31.448px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1699 {
  fill: rgba(0,0,0,1);
}
.Pfad_1699 {
  overflow: visible;
  position: absolute;
  width: 1.637px;
  height: 1.639px;
  left: 57.88px;
  top: 67.007px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1700 {
  fill: rgba(0,0,0,1);
}
.Pfad_1700 {
  overflow: visible;
  position: absolute;
  width: 1.63px;
  height: 1.636px;
  left: 70.741px;
  top: 32.394px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1701 {
  fill: rgba(0,0,0,1);
}
.Pfad_1701 {
  overflow: visible;
  position: absolute;
  width: 1.351px;
  height: 1.357px;
  left: 7.219px;
  top: 30.976px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1702 {
  fill: rgba(0,0,0,1);
}
.Pfad_1702 {
  overflow: visible;
  position: absolute;
  width: 1.356px;
  height: 1.353px;
  left: 40.613px;
  top: 6.898px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1703 {
  fill: rgba(0,0,0,1);
}
.Pfad_1703 {
  overflow: visible;
  position: absolute;
  width: 1.353px;
  height: 1.344px;
  left: 59.862px;
  top: 69.906px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1704 {
  fill: rgba(0,0,0,1);
}
.Pfad_1704 {
  overflow: visible;
  position: absolute;
  width: 1.345px;
  height: 1.358px;
  left: 19.572px;
  top: 69.307px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1705 {
  fill: rgba(0,0,0,1);
}
.Pfad_1705 {
  overflow: visible;
  position: absolute;
  width: 1.342px;
  height: 1.34px;
  left: 73.597px;
  top: 31.77px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_220 {
  position: absolute;
  width: 73.252px;
  height: 62.462px;
  left: 200.374px;
  top: 868.731px;
  overflow: visible;
}
#Pfad_38 {
  fill: rgba(54,150,118,1);
}
.Pfad_38 {
  overflow: visible;
  position: absolute;
  width: 51.656px;
  height: 36.754px;
  left: 0px;
  top: 14.721px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_39 {
  fill: rgba(96,186,153,1);
}
.Pfad_39 {
  overflow: visible;
  position: absolute;
  width: 21.812px;
  height: 33.014px;
  left: 51.44px;
  top: 16.714px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_40 {
  fill: rgba(54,150,118,1);
}
.Pfad_40 {
  overflow: visible;
  position: absolute;
  width: 23.276px;
  height: 14.523px;
  left: 24.139px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_41 {
  fill: rgba(54,150,118,1);
}
.Pfad_41 {
  overflow: visible;
  position: absolute;
  width: 10.826px;
  height: 8.114px;
  left: 29.336px;
  top: 54.348px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1711 {
  fill: rgba(183,108,108,1);
}
.Pfad_1711 {
  overflow: visible;
  position: absolute;
  width: 105.378px;
  height: 46.352px;
  left: 147.685px;
  top: 827.708px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_221 {
  position: absolute;
  width: 150.654px;
  height: 71.244px;
  left: 253.063px;
  top: 817.116px;
  overflow: visible;
}
#Pfad_36 {
  fill: rgba(235,142,171,1);
}
.Pfad_36 {
  overflow: visible;
  position: absolute;
  width: 107.264px;
  height: 71.244px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_37 {
  fill: rgba(235,181,198,1);
}
.Pfad_37 {
  overflow: visible;
  position: absolute;
  width: 47.377px;
  height: 49.23px;
  left: 103.276px;
  top: 12.11px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_54 {
  fill: rgba(0,0,0,1);
}
.Pfad_54 {
  overflow: visible;
  position: absolute;
  width: 332.388px;
  height: 470.487px;
  transform: matrix(1,0,0,1,-166.1938,504.1243) rotate(17deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Gruppe_219 {
  position: absolute;
  width: 129.919px;
  height: 57.898px;
  left: 79.938px;
  top: 888.102px;
  overflow: visible;
}
#Pfad_36_dl {
  fill: rgba(152,211,130,1);
}
.Pfad_36_dl {
  overflow: visible;
  position: absolute;
  width: 94.657px;
  height: 57.898px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_37_dm {
  fill: rgba(196,247,206,1);
}
.Pfad_37_dm {
  overflow: visible;
  position: absolute;
  width: 38.502px;
  height: 40.008px;
  left: 91.417px;
  top: 9.841px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_225 {
  position: absolute;
  width: 23.596px;
  height: 24.734px;
  left: 207px;
  top: 1377.674px;
  overflow: visible;
}
#Pfad_1721_do {
  fill: rgba(0,0,0,1);
}
.Pfad_1721_do {
  overflow: visible;
  position: absolute;
  width: 4.386px;
  height: 4.382px;
  left: 19.21px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1722_dp {
  fill: rgba(0,0,0,1);
}
.Pfad_1722_dp {
  overflow: visible;
  position: absolute;
  width: 16.606px;
  height: 14.028px;
  left: 0px;
  top: 0.977px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1723_dq {
  fill: rgba(0,0,0,1);
}
.Pfad_1723_dq {
  overflow: visible;
  position: absolute;
  width: 9.059px;
  height: 9.062px;
  left: 13.054px;
  top: 15.672px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1724_ds {
  fill: url(#Pfad_1724_ds);
}
.Pfad_1724_ds {
  overflow: visible;
  position: absolute;
  width: 2.427px;
  height: 2.442px;
  left: 20.193px;
  top: 0.975px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1725_du {
  fill: url(#Pfad_1725_du);
}
.Pfad_1725_du {
  overflow: visible;
  position: absolute;
  width: 12.078px;
  height: 12.083px;
  left: 0.973px;
  top: 1.951px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1726_dw {
  fill: url(#Pfad_1726_dw);
}
.Pfad_1726_dw {
  overflow: visible;
  position: absolute;
  width: 3.271px;
  height: 4.75px;
  left: 12.356px;
  top: 7.927px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1727_dy {
  fill: url(#Pfad_1727_dy);
}
.Pfad_1727_dy {
  overflow: visible;
  position: absolute;
  width: 7.108px;
  height: 7.107px;
  left: 14.025px;
  top: 16.655px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1728_dz {
  fill: rgba(0,0,0,1);
}
.Pfad_1728_dz {
  overflow: visible;
  position: absolute;
  width: 1.109px;
  height: 1.361px;
  left: 20.47px;
  top: 1.223px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1729_d {
  fill: rgba(0,0,0,1);
}
.Pfad_1729_d {
  overflow: visible;
  position: absolute;
  width: 2.118px;
  height: 3.181px;
  left: 1.584px;
  top: 3.867px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1730_d {
  fill: rgba(0,0,0,1);
}
.Pfad_1730_d {
  overflow: visible;
  position: absolute;
  width: 1.548px;
  height: 2.693px;
  left: 14.699px;
  top: 17.744px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_227 {
  position: absolute;
  width: 37.754px;
  height: 26.264px;
  left: 309.513px;
  top: 1337.368px;
  overflow: visible;
}
#Pfad_1731 {
  fill: rgba(0,0,0,1);
}
.Pfad_1731 {
  overflow: visible;
  position: absolute;
  width: 5.56px;
  height: 5.554px;
  left: 12.813px;
  top: 20.709px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1732 {
  fill: rgba(0,0,0,1);
}
.Pfad_1732 {
  overflow: visible;
  position: absolute;
  width: 21.052px;
  height: 17.783px;
  left: 16.703px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1733 {
  fill: rgba(0,0,0,1);
}
.Pfad_1733 {
  overflow: visible;
  position: absolute;
  width: 11.483px;
  height: 11.487px;
  left: 0px;
  top: 3.362px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1734_d {
  fill: url(#Pfad_1734_d);
}
.Pfad_1734_d {
  overflow: visible;
  position: absolute;
  width: 3.077px;
  height: 3.096px;
  left: 14.059px;
  top: 21.945px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1735_d {
  fill: url(#Pfad_1735_d);
}
.Pfad_1735_d {
  overflow: visible;
  position: absolute;
  width: 15.312px;
  height: 15.317px;
  left: 17.937px;
  top: 1.236px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1736_eb {
  fill: url(#Pfad_1736_eb);
}
.Pfad_1736_eb {
  overflow: visible;
  position: absolute;
  width: 4.146px;
  height: 6.022px;
  left: 32.366px;
  top: 8.811px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1737_ed {
  fill: url(#Pfad_1737_ed);
}
.Pfad_1737_ed {
  overflow: visible;
  position: absolute;
  width: 9.01px;
  height: 9.01px;
  left: 1.231px;
  top: 4.607px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1738 {
  fill: rgba(0,0,0,1);
}
.Pfad_1738 {
  overflow: visible;
  position: absolute;
  width: 1.406px;
  height: 1.725px;
  left: 14.41px;
  top: 22.259px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1739 {
  fill: rgba(0,0,0,1);
}
.Pfad_1739 {
  overflow: visible;
  position: absolute;
  width: 2.685px;
  height: 4.033px;
  left: 18.711px;
  top: 3.664px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_1740 {
  fill: rgba(0,0,0,1);
}
.Pfad_1740 {
  overflow: visible;
  position: absolute;
  width: 1.963px;
  height: 3.414px;
  left: 2.086px;
  top: 5.988px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_3001 {
  fill: rgba(0,0,0,1);
}
.Pfad_3001 {
  overflow: visible;
  position: absolute;
  width: 11.483px;
  height: 11.487px;
  left: 365.258px;
  top: 993.178px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_3004 {
  fill: rgba(0,0,0,1);
}
.Pfad_3004 {
  overflow: visible;
  position: absolute;
  width: 7.984px;
  height: 7.987px;
  left: 375.5px;
  top: 1010.678px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_3007 {
  fill: rgba(0,0,0,1);
}
.Pfad_3007 {
  overflow: visible;
  position: absolute;
  width: 15.983px;
  height: 15.989px;
  left: 375.5px;
  top: 974.178px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_3002_el {
  fill: url(#Pfad_3002_el);
}
.Pfad_3002_el {
  overflow: visible;
  position: absolute;
  width: 9.01px;
  height: 9.01px;
  left: 366.49px;
  top: 994.423px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_3005_en {
  fill: url(#Pfad_3005_en);
}
.Pfad_3005_en {
  overflow: visible;
  position: absolute;
  width: 6.265px;
  height: 6.265px;
  left: 376.356px;
  top: 1011.544px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_3008_ep {
  fill: url(#Pfad_3008_ep);
}
.Pfad_3008_ep {
  overflow: visible;
  position: absolute;
  width: 12.542px;
  height: 12.541px;
  left: 377.214px;
  top: 975.911px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_3003 {
  fill: rgba(0,0,0,1);
}
.Pfad_3003 {
  overflow: visible;
  position: absolute;
  width: 1.963px;
  height: 3.414px;
  left: 367.344px;
  top: 995.805px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_3006 {
  fill: rgba(0,0,0,1);
}
.Pfad_3006 {
  overflow: visible;
  position: absolute;
  width: 1.365px;
  height: 2.374px;
  left: 376.95px;
  top: 1012.505px;
  transform: matrix(1,0,0,1,0,0);
}
#Pfad_3009 {
  fill: rgba(0,0,0,1);
}
.Pfad_3009 {
  overflow: visible;
  position: absolute;
  width: 2.732px;
  height: 4.752px;
  left: 378.403px;
  top: 977.834px;
  transform: matrix(1,0,0,1,0,0);
}
