.mediaViewInfo {
  --web-view-name: Station 08_01;
  --web-view-id: Station_08_01;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Station_08_01;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Station_08_01 {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 736px;
  background-color: rgba(255,255,255,1);
  overflow: scroll;
  --web-view-name: Station 08_01;
  --web-view-id: Station_08_01;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#Rechteck_1_v {
  fill: url(#Rechteck_1_v);
  width: 100%;
  height: 100%;
}
.Rechteck_1_v {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  left: 0.371px;
  top: 0.027px;
}
#Und_sie_kamen_eilend_und_fande {
  left: 190.153px;
  top: 91.432px;
  position: absolute;
  overflow: visible;
  width: 167.847px;
  height: 197.95420837402344px;
  line-height: 18px;
  margin-top: -2px;
  text-align: left;
  font-family: American Typewriter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(22,22,21,1);
}
#Gruppe_1 {
  position: absolute;
  width: 34px;
  height: 25px;
  left: 23px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Station_01_01.html;
  cursor: pointer;
}
#Rechteck_2 {
  fill: rgba(75,108,115,1);
}
.Rechteck_2 {
  position: absolute;
  overflow: visible;
  width: 34px;
  height: 5px;
  left: 0px;
  top: 0px;
}
#Rechteck_7 {
  fill: rgba(75,108,115,1);
}
.Rechteck_7 {
  position: absolute;
  overflow: visible;
  width: 34px;
  height: 5px;
  left: 0px;
  top: 10px;
}
#Rechteck_6 {
  fill: rgba(75,108,115,1);
}
.Rechteck_6 {
  position: absolute;
  overflow: visible;
  width: 34px;
  height: 5px;
  left: 0px;
  top: 20px;
}
#Pfad_1 {
  fill: rgba(5,78,88,1);
}
.Pfad_1 {
  overflow: visible;
  position: absolute;
  width: 300px;
  height: 159.509px;
  left: 57px;
  top: 286px;
  transform: matrix(1,0,0,1,0,0);
}
#MENSCHENMENGE {
  left: 57px;
  top: 78.208px;
  position: absolute;
  overflow: visible;
  width: 111.311px;
  height: 25.707454681396484px;
  text-align: center;
  font-family: Nunito-Italic;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(22,22,21,1);
}
#_Was_erzhlen_die_da_Ein_Kind_d {
  left: 76px;
  top: 313px;
  position: absolute;
  overflow: visible;
  width: 263px;
  line-height: 16px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255,255,255,1);
}
#Rechteck_14 {
  fill: rgba(5,78,88,1);
}
.Rechteck_14 {
  position: absolute;
  overflow: visible;
  width: 300px;
  height: 52px;
  left: 57px;
  top: 476px;
}
#Rechteck_15 {
  fill: rgba(5,78,88,1);
}
.Rechteck_15 {
  position: absolute;
  overflow: visible;
  width: 300px;
  height: 52px;
  left: 57px;
  top: 540px;
}
#Rechteck_16 {
  fill: rgba(5,78,88,1);
}
.Rechteck_16 {
  position: absolute;
  overflow: visible;
  width: 300px;
  height: 52px;
  left: 57px;
  top: 604px;
}
#WAS_TRADITIONELLES {
  left: 57px;
  top: 493px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255,255,255,1);
}
#MODERNER_OHRWURM {
  left: 57px;
  top: 558px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255,255,255,1);
}
#KLEINE_UND_GROE_KINDER {
  left: 57px;
  top: 622px;
  position: absolute;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255,255,255,1);
}
#Gruppe_92 {
  position: absolute;
  width: 94.536px;
  height: 125.951px;
  left: 70px;
  top: 122px;
  overflow: visible;
}
#Gruppe_80 {
  position: absolute;
  width: 93.15px;
  height: 15.523px;
  left: 0px;
  top: 49.946px;
  overflow: visible;
}
#Gruppe_78 {
  position: absolute;
  width: 15.523px;
  height: 15.523px;
  left: 77.628px;
  top: 0px;
  overflow: visible;
}
#Ellipse_109 {
  fill: rgba(243,196,137,1);
}
.Ellipse_109 {
  position: absolute;
  overflow: visible;
  width: 15.523px;
  height: 15.523px;
  left: 0px;
  top: 0px;
}
#Ellipse_110 {
  fill: rgba(232,178,119,1);
}
.Ellipse_110 {
  position: absolute;
  overflow: visible;
  width: 10.174px;
  height: 10.174px;
  left: 2.674px;
  top: 2.674px;
}
#Gruppe_79 {
  position: absolute;
  width: 15.523px;
  height: 15.523px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Ellipse_111 {
  fill: rgba(243,196,137,1);
}
.Ellipse_111 {
  position: absolute;
  overflow: visible;
  width: 15.523px;
  height: 15.523px;
  left: 0px;
  top: 0px;
}
#Ellipse_112 {
  fill: rgba(232,178,119,1);
}
.Ellipse_112 {
  position: absolute;
  overflow: visible;
  width: 10.174px;
  height: 10.174px;
  left: 2.674px;
  top: 2.674px;
}
#Rechteck_55 {
  fill: rgba(226,81,22,1);
}
.Rechteck_55 {
  width: 101.229px;
  height: 86.424px;
  position: absolute;
  overflow: visible;
  transform: translate(-291.294px, -261.186px) matrix(1,0,0,1,287.1341,279.115) rotate(-90deg);
  transform-origin: center;
}
#Gruppe_82 {
  position: absolute;
  width: 79.438px;
  height: 97.096px;
  left: 7.374px;
  top: 15.311px;
  overflow: visible;
}
#Gruppe_81 {
  position: absolute;
  width: 79.438px;
  height: 97.097px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Gruppe_83 {
  position: absolute;
  width: 41.517px;
  height: 8.59px;
  left: 26.198px;
  top: 54.71px;
  overflow: visible;
}
#Ellipse_113 {
  fill: rgba(22,22,21,1);
}
.Ellipse_113 {
  position: absolute;
  overflow: visible;
  width: 8.59px;
  height: 8.59px;
  left: 0px;
  top: 0px;
}
#Ellipse_114 {
  fill: rgba(22,22,21,1);
}
.Ellipse_114 {
  position: absolute;
  overflow: visible;
  width: 8.59px;
  height: 8.59px;
  left: 32.927px;
  top: 0px;
}
#Gruppe_85 {
  position: absolute;
  width: 23.515px;
  height: 11.758px;
  left: 35.806px;
  top: 87.667px;
  overflow: visible;
}
#Gruppe_84 {
  position: absolute;
  width: 23.515px;
  height: 11.758px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Gruppe_87 {
  position: absolute;
  width: 23.515px;
  height: 11.758px;
  left: 35.806px;
  top: 87.667px;
  overflow: visible;
}
#Gruppe_86 {
  position: absolute;
  width: 23.515px;
  height: 11.758px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rechteck_62 {
  fill: rgba(226,81,22,1);
}
.Rechteck_62 {
  position: absolute;
  overflow: visible;
  width: 94.293px;
  height: 48.278px;
  left: 0.242px;
  top: 77.673px;
}
#Pfad_74 {
  fill: rgba(159,53,16,1);
}
.Pfad_74 {
  overflow: visible;
  position: absolute;
  width: 94.294px;
  height: 27.681px;
  left: 0.242px;
  top: 98.27px;
  transform: matrix(1,0,0,1,0,0);
}
#Gruppe_89 {
  position: absolute;
  width: 9.29px;
  height: 19.616px;
  left: 42.918px;
  top: 66.104px;
  overflow: visible;
}
#Gruppe_88 {
  position: absolute;
  width: 9.29px;
  height: 19.616px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Gruppe_91 {
  position: absolute;
  width: 38.112px;
  height: 19.435px;
  left: 28.227px;
  top: 90.275px;
  overflow: visible;
}
#Gruppe_90 {
  position: absolute;
  width: 38.112px;
  height: 19.435px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rechteck_70 {
  fill: rgba(226,81,22,1);
}
.Rechteck_70 {
  position: absolute;
  overflow: visible;
  width: 78.889px;
  height: 37.239px;
  left: 3.611px;
  top: 0px;
}
#Rechteck_71 {
  fill: rgba(226,81,22,1);
}
.Rechteck_71 {
  position: absolute;
  overflow: visible;
  width: 12.83px;
  height: 4.351px;
  left: 24.267px;
  top: 49.262px;
}
#Rechteck_72 {
  fill: rgba(226,81,22,1);
}
.Rechteck_72 {
  position: absolute;
  overflow: visible;
  width: 12.83px;
  height: 4.351px;
  left: 57.513px;
  top: 49.262px;
}
#Pfad_78 {
  fill: rgba(159,53,16,1);
}
.Pfad_78 {
  overflow: visible;
  position: absolute;
  width: 78.889px;
  height: 37.239px;
  left: 3.611px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
