.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.font-nav-titel {
  /*position: absolute;*/
  /*right: 0;*/
  text-align: right;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
}

.font-nav-subtitel {
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
}

.font-nav-bottom {
  border-bottom: white; border-bottom-style: solid; border-width: 2px
}

