<mat-sidenav-container class="sidenav-container hintergrund">
  <mat-sidenav #drawer class="sidenav hintergrund" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span matBadge="1" matBadgeOverlap="false"
            [matBadgeHidden]="isAnyStationViewed()">Menu</span>
    </mat-toolbar>
    <mat-nav-list style="">
      <a mat-list-item href="landing">Startseite</a>
      <a *ngFor="let a of getArrayOfStations(); let i = index"
        mat-list-item href="station/{{i}}"
         (click)="qrCounter.setStationViewed('1')">
        <span matBadge="🎄" matBadgeOverlap="false" *ngIf="qrCounter.lastCounter >= i"
              [matBadgeHidden]="qrCounter.isStationViewed('' + i)">Station {{i}}</span></a>
      <a mat-list-item href="reward"><span matBadge="1" matBadgeOverlap="false"
                                           [matBadgeHidden]="qrCounter.isNewStationForReward()">Belohnung</span></a>
      <a mat-list-item href="map">Karte</a>
<!--      <a mat-list-item href="dev">Dev</a>-->
      <div style="vertical-align: bottom; text-align: center">
        <a mat-list-item href="http://five0.de/impressum/">Impressum</a>
        <a mat-list-item href="http://five0.de/datenschutzerklaerung/">Datenschutzerklärung</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--    <mat-toolbar color="primary">-->
    <!--      -->
    <!--      <span>Weihnachtsrundgang 2020</span>-->
    <!--    </mat-toolbar>-->

    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async" style="top: 0; position: absolute; float: top">
      <mat-icon aria-label="Side nav toggle icon" matBadge="🎄" matBadgeColor="accent"
                [matBadgeHidden]="isAnyStationViewed()">menu
      </mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
